# IDEs
.idea
.project
*.sublime-project
*.sublime-workspace

# nodejs

node_modules
jspm_packages
bower_components
.DS_STORE

/dist
build/reports
coverage
test/e2e/dist

# php
composer.phar
services/composer.phar
services/composer.lock
services/vendor

# Vagrant
.vagrant
