template
  section(class.bind="'au-animate ' + routeConfig.name")
    .container
      h1.page-title ${heading}
      //- p Vrem să îmbunățim situația pădurilor prin desfășurarea celei mai mari acțiuni de plantat realizată până acum la nivel mondial. Într-o singură zi ne propunem sa plantam mai mult de #[strong 1.2 milioane de puieti], doborand astfel recordul mondial.
        
      .row.h-margin-top-70
        .col-sm-4
          .article
            .article__img
              img(src="/dist/assets/img/promote.png", alt="")
            h2.article__title
              | Voluntar virtual
            p  
              | Ajuta Padurea distribuind postarile si mesajele, pe care le consideri utile si interesante, de pe paginile de Facebook 
              //- @TODO
              a(href="") “Planteaza Pentru Romania “  
              | si 
              //- @TODO
              a(href="") “Prietenii Padurilor din Romania”        
        .col-sm-4
          .article
            .article__img
              a(href="/#/implica-te/participa")
                img(src="/dist/assets/img/participate.png", alt="")
            h2.article__title 
              | Voluntar in actiune 
            p 
              | Participa ca voluntar la actiunile si proiectele dezvoltate de noi si “fii tu schimbarea pe care vrei sa o vezi in lume”!        
        .col-sm-4
          .article
            .article__img
              a(href="/#/planteaza")
                img(src="/dist/assets/img/support.png", alt="")
            h2.article__title 
              | Membership
            p            
              | Alatura-te comunitatii “Prietenii Padurilor din Romania” si 
              a(href="/#/planteaza") sustine proiectele si actiunile dezvoltate de noi!
