template
  section(class.bind="'au-animate ' + routeConfig.name")
    .container
      h1.page-title ${heading}
      p Vrem să îmbunățim situația pădurilor prin desfășurarea celei mai mari acțiuni de plantat realizată până acum la nivel mondial. Într-o singură zi ne propunem sa plantam mai mult de #[strong 1.2 milioane de puieti], doborand astfel recordul mondial.
        
      .row.h-margin-top-70
        .col-sm-4
          .article
            .article__img
              a(href="/#/planteaza")
                img(src="/dist/assets/img/support.png", alt="")
            h2.article__title Sustine
            p Implică-te direct! Salvează pădurile din România și donează pentru a fi tu cel care decide soarta ecosistemelor forestiere! Fiecărei donații îi va corespunde un arbore care va fi plantat într-una din pădurile din împrejurimea zonei Brașov.
        .col-sm-4
          .article
            .article__img
              a(href="/#/implica-te/participa")
                img(src="/dist/assets/img/participate.png", alt="")
            h2.article__title Participa
            p Alătură-te echipei noastre de voluntari și ajută-ne la plantat! Pentru înscriere, te rugăm să ne contactezi pe adresa #[a(href="mailto:office@prieteniipadurilor.ro") office@prieteniipadurilor.ro].
        .col-sm-4
          .article
            .article__img
              img(src="/dist/assets/img/promote.png", alt="")
            h2.article__title Promoveaza
            p Promovează-ne! Fii prietenul pădurilor din România și spune-le tuturor despre noi! Ne găsești pe Facebook #[a(href="https://www.facebook.com/planteazaptromania") aici].
