//- TODO: #89 Add content
template
	section.au-animate
		.container.text-justify
			h1.page-title ${heading}
			p Această politică detaliază modul în care #[strong Asociația „Prietenii Pădurilor din România”], asociația care deține www.planteazapentruromania.ro, utilizează modulele cookie, fișierele și tehnologiile asemănătoare acestora pe site-ul său.
			
			h2 Ce sunt cookie-urile?
			p Cookie-ul este un fisier de date, de mici dimensiuni, alfa-numeric, care este stocat pe computerul, terminalul mobil sau alte echipamente care au acces la Internet. Cookie-ul este instalat prin solicitarea emisa de catre un server web catre un browser (ex: Internet Explorer, Chrome) si nu contine programe software, virusi sau spyware.
			p De regula, cookie-urile sunt utilizate pentru a memora numele, parolele si preferintele utilizatorilor, pentru a monitoriza traseul pe un site si pentru a personaliza paginile in functie de vizitator. In structura fiecarui browser pentru Internet exista optiunea de a sterge cookie-urile de pe hard-drive, de a bloca primirea de cookie-uri sau de a primi un mesaj in momentul in care un cookie este stocat in calculator.
			
			h2 La ce sunt folosite cookie-urile?
			p Aceste fisiere sunt esentiale pentru functionarea site-ului si fac posibila recunoasterea utilizatorului si prezentarea continutului intr-un mod relevant, adaptat preferintelor sale. Cookie-urile asigura utilizatorilor o experienta placuta de navigare prin retinerea produselor de interes. De asemenea, sunt utilizate in pregatirea unor statistici anonime cu referire la intelegerea comportamentului utilizatorului pe site-ul navigat si ce imbunatatiri pot fi aduse la nivel de structura si continut.
			
			h2 Ce tipuri de cookie-uri folosim?
			p Folosim doua tipuri de cookie-uri: per sesiune si fixe. Cookie-urile per sesiune raman in terminalul utilizatorului pana la inchiderea aplicatiei, pe cand fisierele fixe sunt stocate pe terminalul utilizatorului pe o perioada determinata sau pana la stergerea lor. Acestea au date de expirare specifice ce pot varia intre 2 luni si cativa ani.
			p In general, o aplicatie folosita pentru accesarea paginilor web permite salvarea cookie-urilor in mod implicit. Puteti modifica aceste setari pentru a le bloca sau a le sterge. Atentie, limitarea folosirii cookie-urilor poate afecta anumite functionalitati ale paginii web, limitand accesul la anumite informatii sau blocand accesul la anumite date.

			h2 Cum pot gestiona modulele cookie?
			p Pentru a revizui optiunile disponibile pentru gestionarea modulelor cookie, puteti accesa sectiunea de setari regasita in browserul dumneavoastra. Fiecare browser utilizeaza moduri diferite de dezactivare a modulelor cookie, dar aceasta optiune se gaseste, de obicei, in meniul Instrumente sau Optiuni. De asemenea, puteti consulta sectiunea de confidenţialitate al browserului.
			
			h2 Cum sunt folosite cookie-urile de catre planteazapentruromania.ro?
			p Datele colectate de catre cookie-uri vizeaza informatii despre performanta site-ului, analiza comportamentului vizitatorilor, targetare geografica, informatii legate de inregistrare si publicitate.
			p Cookie-urile nu solicita informatii cu caracter personal si nu identifica personal utilizatorii de internet. Datele personale sunt colectate doar pentru a facilita anumite functionalitati pentru utilizator si sunt criptate pentru a impiedica accesul persoanelor neautorizate la aceste date.
			
			h2 Sfaturi pentru o navigare cat mai usoara si in siguranta
			ul
				li Particularizati setarile browserului (Chrome, Mozilla, Internet Explorer etc.) pentru a stabili un nivel confortabil de securitate in ceea ce priveste utilizarea cookie-urilor.
				li Daca sunteti singurul utilizator al dispozitivului si nu va deranjeaza prezenta acestora, puteti seta termene lungi de expirare pentru a usura navigarea pe site-urile dorite.
				li Daca partajati dispozitivul cu mai multe persoane, puteti seta stergerea datelor de navigarea de fiecare data cand inchideti browserul.
				li Instalati si actualizati frecvent aplicatii antispyware.
				li Cookie-urile nu pot fi evitate in totalitate fara a afecta buna utilizare a site-urilor, insa o mai buna intelegere a acestora si a modului lor de functionare va poate permite sa luati masurile necesare de securitate. Dezactivarea si refuzul de a primi cookie-uri pot face anumite site-uri impracticabile sau dificil de vizitat si folosit. De asemenea, refuzul de a accepta cookie-uri nu inseamna ca nu veti mai primi/vedea publicitate online.

			p Pentru intrebari si informatii suplimentare, ne puteti contacta pe adresa #[a(href="mailto:contact@prieteniipadurilor.ro") contact@prieteniipadurilor.ro]
