template
	// Revolution Slider Styles
	// RS5.0 Main Stylesheet
	require(from='../assets/plugins/revolution/css/settings.css')
	// RS5.0 Layers and Navigation Styles
	require(from='../assets/plugins/revolution/css/layers.css')
	require(from='../assets/plugins/revolution/css/navigation.css')

	.au-animate
		//- Carousel
		.rev_slider_wrapper
			#slider.rev_slider(data-version='5.0')
				ul
					li(data-transition='fade')
						img(src='/dist/assets/img/slider/img1.jpg', alt='', width='1920', height='1080')
						.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.skrollable.skrollable-between(data-x='center', data-y='middle', data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;e:Power3.easeInOut', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='background-color: rgba(0, 0, 0, 0.25);')
						.tp-caption.News-Title(data-x='center', data-y='center', data-width="['700', '600', '500', '300']", data-fontsize="['32', '28', '24', '18']", data-lineheight="['46', '40', '36', '30']", data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:1000;e:Power3.easeInOut;', data-mask_in="x:0px;y:0px;s:inherit;e:inherit;", data-mask_out="x:0;y:0;s:inherit;e:inherit;", data-start='2000', data-responsive='off') 
							| Padurile Romaniei reprezinta cea mai importanta resursa naturala regenerabila a tarii si indeplineste multiple roluri
					li(data-transition='slidevertical')
						img(src='/dist/assets/img/slider/img2.jpg', alt='', width='1920', height='1080')
						.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.skrollable.skrollable-between(data-x='center', data-y='middle', data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;e:Power3.easeInOut', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='background-color: rgba(0, 0, 0, 0.25);')
						.tp-caption.News-Title(data-x='center', data-y='center', data-width="['700', '600', '500', '300']", data-fontsize="['32', '28', '24', '18']", data-lineheight="['46', '40', '36', '30']", data-whitespace='normal', data-transform_in="x:50px;opacity:0;s:1500;e:Power2.easeOut;", data-transform_out="auto:auto;opacity:0;s:1000;e:Power4.easeIn;s:1000;e:Power4.easeIn;", data-start='2000', data-responsive='off') 
							| Pana in prezent am decimat ca specie
							span.text-emphasize 50%
							|  din padurile planetei iar ca popor am redus suprafata impadurita a tarii de la 
							span.text-emphasize 80% 
							|  la 
							span.text-emphasize 26%.
					li(data-transition='slideoverleft')
						img(src='/dist/assets/img/slider/img3.jpg', alt='', width='1920', height='1080')
						.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.skrollable.skrollable-between(data-x='center', data-y='middle', data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;e:Power3.easeInOut', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='background-color: rgba(0, 0, 0, 0.25);')
						.tp-caption.News-Title(data-x='center', data-y='center', data-width="['700', '600', '500', '300']", data-fontsize="['32', '28', '24', '18']", data-lineheight="['46', '40', '36', '30']", data-whitespace='normal', data-transform_idle='o:1;', data-transform_in="x:-50px;opacity:0;s:1500;e:Power2.easeOut;", data-transform_out="auto:auto;opacity:0;s:1000;e:Power4.easeIn;s:1000;e:Power4.easeIn;",  data-start='2000', data-responsive='off') 
							| Odata cu distrugerea padurilor pierdem si sansa de a trai alaturi de copiii nostri intr-o lume mai buna si mai sigura.
					li(data-transition='crossfade')
						img(src='/dist/assets/img/slider/img4.jpg', alt='', width='1920', height='1080')
						.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.skrollable.skrollable-between(data-x='center', data-y='middle', data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;e:Power3.easeInOut', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='background-color: rgba(0, 0, 0, 0.25);')
						.tp-caption.News-Title(data-x='center', data-y='center', data-width="['700', '600', '500', '300']", data-fontsize="['32', '28', '24', '18']", data-lineheight="['46', '40', '36', '30']", data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;', data-transform_out='auto:auto;s:1000;e:Power3.easeInOut;', data-mask_in="x:0px;y:0px;s:inherit;e:inherit;", data-mask_out="x:0;y:0;s:inherit;e:inherit;", data-start='2000', data-responsive='off') 
							| De existenta si starea padurilor depinde pe langa viata fiecaruia dintre noi si viata a mii de alte specii de animale, insecte si plante.
					li(data-transition='fadefrombottom')
						img(src='/dist/assets/img/slider/img5.jpg', alt='', width='1920', height='1080')
						.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.skrollable.skrollable-between(data-x='center', data-y='middle', data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;e:Power3.easeInOut', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='background-color: rgba(0, 0, 0, 0.25);')
						.tp-caption.News-Title(data-x='center', data-y='center', data-width="['700', '600', '500', '300']", data-fontsize="['32', '28', '24', '18']", data-lineheight="['46', '40', '36', '30']", data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='o:0;s:1500;e:Power3.easeInOut;', data-transform_out='o:0;s:1500;e:Power2.easeOut;', data-start='2000', data-responsive='off') 
							| O lume mai buna poate incepe aici si acum cu tine... hai sa trecem impreuna de la vorbe la fapte.
							br
							| Intra si tu in "Echipa Nationala de Plantat a Romaniei"  plantand pentru Romania si hai sa scriem istoria impreuna!
				//- .tp-static-layers
				//- 	.tp-caption.tp-static-layer(data-x='center', data-y='top', data-width='none', data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1000;e:Power3.easeInOut;', data-transform_out='auto:auto;s:1000;', data-start='1000', data-basealign='slide', data-startslide='0', data-responsive='off')
				//- 		img(src='/dist/assets/img/logo.png', alt='Logo Planteaza pentru Romania', width='1250', height='1250', data-ww=['300px', '300px', '200px', '200px'], data-hh=['300px', '300px', '200px', '200px'])
				//- 	.tp-caption.tp-static-layer(data-x='center', data-y='bottom', data-voffset='50', data-fontsize="['14', '14', '14', '12']", data-width='none', data-height='none', data-whitespace='nowrap', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1000;e:Power3.easeInOut;', data-transform_out='auto:auto;s:1000;', data-start='1000', data-basealign='slide', data-startslide='0', data-responsive='off')
				//- 		.footer
				//- 			ul.social
				//- 				li
				//- 					a.social__link.social__link--fb(href="https://www.facebook.com/Prietenii.Padurilor")
				//- 						i.fa.fa-facebook
				//- 				li
				//- 					a.social__link.social__link--inst(href="https://www.instagram.com/prieteniipadurilor")
				//- 						i.fa.fa-instagram
				//- 			p.footer__info Un proiect al asociatiei Prietenii Padurilor din Romania. 
				//- 				a.mfp-trigger(href="#moreInfoModal") Afla mai multe
				//- 			p.footer__info Telefon: +40 755 022 608 Email: 
				//- 				a(href="mailto:office@prieteniipadurilor.ro") office@prieteniipadurilor.ro
				//- 			p.footer__copy &copy2016 
				//- 				a(href="http://prieteniipadurilor.ro") Prietenii Padurilor

	require(from='../assets/plugins/revolution/js/jquery.themepunch.revolution.min.js')
	require(from='../assets/plugins/revolution/js/jquery.themepunch.tools.min.js')
