template
  section.au-animate
    h2 ${heading}
  require(from='../assets/plugins/revolution/js/jquery.themepunch.revolution.min.js')
  require(from='../assets/plugins/revolution/js/jquery.themepunch.tools.min.js')
