template
	// Revolution Slider Styles
	// RS5.0 Main Stylesheet
	//- require(from='../assets/plugins/revolution/css/settings.css')
	// RS5.0 Layers and Navigation Styles
	//- require(from='../assets/plugins/revolution/css/layers.css')
	//- require(from='../assets/plugins/revolution/css/navigation.css')
	//- require(from='../assets/plugins/owl.carousel/owl-carousel/owl.carousel.css')
	//- //- require(from='../assets/plugins/owl.carousel/owl-carousel/owl.theme.css')
	//- require(from='../assets/plugins/owl.carousel/owl-carousel/owl.transitions.css')
	require(from='../assets/plugins/owl.carousel/owl-carousel/owl.carousel.min.js')

	.au-animate(class.bind="'au-animate ' + routeConfig.name")
		.donation
			button#donationToggler.donation__btn(type="button")
				i.fa.fa-search
			span.donation__title Copaci donati
			span#donationAmount.donation__amount 203.491
		//- Carousel
		#owlCarouselHP.owl-carousel.owl-carousel--hp
			.owl-carousel__slide
				.owl-carousel__img(style="background-image: url('/dist/assets/img/slider/img1.jpg')")
				.container.container--carousel
					.owl-carousel__caption
						strong Padurile Romaniei 
						|  reprezinta cea mai importanta 
						strong resursa naturala regenerabila
						|  a tarii si indeplineste multiple roluri
			.owl-carousel__slide(style="background-image: url('/dist/assets/img/slider/img2.jpg')")
				.owl-carousel__caption
					.l-flex.l-flex--lrg.l-flex--vcenter
						.l-flex__item
							.owl-carousel__text
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cumque, 
								| nostrum, laboriosam ducimus qui officia provident eaque numquam minus enim?
						.l-flex__item
							a.btn.btn--primary.h-pull-right-lrg(href="#") Doneaza un copac
			.owl-carousel__slide(style="background-image: url('/dist/assets/img/slider/img3.jpg')")
				.owl-carousel__caption
					.l-flex.l-flex--lrg.l-flex--vcenter
						.l-flex__item
							.owl-carousel__text
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, ut!
						.l-flex__item
							a.btn.btn--primary.h-pull-right-lrg(href="#") Doneaza un copac
		.container.container--carousel-cta				
			a.btn.btn--primary.h-pull-right-lrg(href="#") Doneaza un copac
