template
	//- require(from='bootstrap/css/bootstrap.css')
	#wrapper(class.bind="'au-animate ' + routeConfig.name")
		require(from='header-elem.html')
		header-elem(router.bind='router')
		main#main
			router-view
		require(from='footer-elem.html')
		footer-elem(router.bind='router')
