template
  require(from='bootstrap/css/bootstrap.css')
  //- require(from='revoslider')
  //- require(from='../assets/plugins/revolution/js/jquery.themepunch.revolution.min.js')
  //- require(from='../assets/plugins/revolution/js/jquery.themepunch.tools.min.js')
  require(from='header-elem.html')
  header-elem(router.bind='router')
  .page-host
    router-view
