template
  section(class.bind="'au-animate ' + routeConfig.name")
    .container
      //- TODO: #125 Design
      //- TODO: #92 Frontend Implementation
      //- TODO: #93 Backend Implementation
      h2 ${heading}
