template
  section(class.bind="'au-animate ' + routeConfig.name")
    .container
      //- TODO: #125 Design
      //- TODO: #92 Frontend Implementation
      //- TODO: #93 Backend Implementation
      h1.page-title ${heading}
      p
        strong Planteaza pentru Romania 
        |  este un proiect 100% transparent prin care donatia ta ajuta la refacerea, protejarea si conservarea padurilor. Salveaza padurile din Romania si doneaza pentru a fi tu cel care decide soarta ecosistemelor forestiere.
      form.form--contact(action="", validate.bind="validation" submit.delegate="")
        span Buna ziua, numele meu este
        .form-group--inline
          input#name.form-control(type="text", name="name", placeholder="(Adauga nume) *")
        span si ma puteti contacta la adresa de email
        .form-group--inline
          input#email.form-control(type="email", name="email", placeholder="(Adauga adresa de email) *")
        br
        span Fac parte din compania
        .form-group--inline
          input#company.form-control(type="text", name="company", placeholder="(Adauga numele companiei)")
        br
        span cu codul fiscal
        .form-group--inline
          input#fiscal.form-control(type="text", name="fiscal", placeholder="(Adauga cod fiscal)")
        br
        span si va contactez in legatura cu
        .form-group
          input#subject.form-control(type="text", name="subject", placeholder="(Adauga subiectul mesajului) *")
        br
        .form-group.h-margin-bottom-40
          textarea.form-control#message(name="message", placeholder="Mesajul meu: *")
        .form-group.h-margin-bottom-40
          recaptcha(sitekey='6LcY4xgTAAAAAMeib0PTHPWykIbArxuMUuMTknt4', theme='light', callback='onRecaptchaVerified')
        .form-group.text-center
          button.btn.btn--secondary(type="submit") Contacteaza-ne
