//- TODO: Diplomas
//- TODO: Create Frontent content
//- TODO: Implement Froentend content
//- TODO: Implement functionality
template
	require(from='../assets/plugins/owl.carousel/owl-carousel/owl.carousel.min.js')

	section(class.bind="'au-animate ' + routeConfig.name")
		.container
			h1.page-title ${heading}
			p „Plantează pentru România” se adrează tuturor celor care își doresc îmbunățirea situației pădurilor prin realizarea celei mai mari acțiuni de plantat desfășurată până în acest moment în România.  Aceasta oferă posibilitatea tuturor de a contribui la îmbunătățirea situației pădurilor românești prin implicarea directă. Orice individ, ONG sau instituție poate să participe la eveniment și să transforme România în Campiona Mondială la Plantat. 

			#owlCarouselDiploma.owl-carousel--diploma.h-margin-top-50.h-margin-bottom-50
				.owl-carousel__slide
					.owl-carousel__img
						img(src="http://placehold.it/770x545", alt="")
				.owl-carousel__slide
					.owl-carousel__img
						img(src="http://placehold.it/770x545", alt="")
				.owl-carousel__slide
					.owl-carousel__img
						img(src="http://placehold.it/770x545", alt="")

			.text-center.btn__group
				a.btn.btn--sm.btn--secondary(href="") Trimite pe mail
				a.btn.btn--sm.btn--secondary(href="") Descarca PDF
