template(bindable='router')
  footer#footer
  //- TODO: Add Link to ANPC
  //- TODO: Add link to IT Media Connect
    .footer
      .footer__info
        p Copyright &copy; 2016 Prietenii Padurilor
        p 
          strong 
            a(href="http://prieteniipadurilor.ro/", target="_blank") Prietenii Padurilor din Romania
        p 
          strong 
            a(href='mailto:office@prieteniipadurilor.ro') office@prieteniipadurilor.ro
      ul.footer__social
        li
          a(href="#")
            i.fa.fa-fw.fa-facebook
        li
          a(href="#")
            i.fa.fa-fw.fa-instagram
