template
	section.au-animate
		h2 ${heading}
		form.form-horizontal(action="")
			fieldset
				.form-group
					label.col-sm-2.control-label(for="name") Nume
					.col-sm-10
						input#name.form-control(type="text", name="name")
				.form-group
					label.col-sm-2.control-label(for="email") Email
					.col-sm-10
						input#email.form-control(type="email", name="email")
				//- @TODO: add slider + input based on design
				.form-group
					.col-sm-offset-2.col-sm-10
						.checkbox
							label
								input#anonymous(type="checkbox", name="anonymous") 
								| Doresc sa raman anonim
				.form-group
					.col-sm-offset-2.col-sm-10
						.checkbox
							label
								input#agreement(type="checkbox", name="agreement") 
								| Sunt de acord cu #[a(href="#") termenii si conditiile]
				.form-group
					label.col-sm-2.control-label(for="total") Total donatie
					.col-sm-10
						input#total.form-control(type="text", name="total", readonly="readonly")
				//- @TODO: reCAPTCHA
				.form-group
					.col-sm-offset-2.col-sm-10
						button.btn.btn-default(type="submit") Planteaza
						
			fieldset
				.form-group
					label.col-sm-2.control-label(for="donateName1") Nume
					.col-sm-10
						input#donateName1.form-control(type="text", name="donateName1")
				.form-group
					label.col-sm-2.control-label(for="donateEmail1") Email
					.col-sm-10
						input#donateEmail1.form-control(type="email", name="donateEmail1")
				.form-group
					label.col-sm-2.control-label(for="donateAmount1") Suma
					.col-sm-10
						input#donateAmount1.form-control(type="text", name="donateAmount1")
				.form-group
					.col-sm-offset-2.col-sm-10
						button#addDonationGift.btn.btn-default(type="button") Donatie cadou noua
