template
  section(class.bind="'au-animate ' + routeConfig.name")
  //- TODO: #105 Add real images
  //- TODO: #105 Add latest content
    .container
      h1.page-title ${heading}
      .media.media--showcase.media--responsive.media--reverse.media--center
        .media__figure
          img.img-responsive.center-block(src="http://placehold.it/434x362/666666/222222?text=Img", alt="")
        .media__body
          p
            strong Ne propunem sa:
          ul
            li realizam cea mai mare actiune de plantat desfasurata pana acum in Romania, sa plantam in padurile din Romania peste 1.300.000 de puieti.
            li protejam, refacem si sa conservam padurile.
            li informam si sa educam opinia publica despre importanta si utilitatea padurilor.
      .media.media--showcase.media--responsive.media--center
        .media__figure
          img.img-responsive.center-block(src="http://placehold.it/434x362/666666/222222?text=Img", alt="")
        .media__body
          ul
            li dezvoltam proiectul "Educatia Silvica", un program gratuit destinat copiilor din comunitatile partenere, prin utilizarea fondurilor proprii si prin atragerea unor surse alternative de investitie.
            li oferim sprijin institutional si consiliere institutiilor publice si partenerilor nostri din domeniul silvic cu privire la respectarea prevederilor capitolului XI din Codul Silvic.
      .media.media--showcase.media--responsive.media--reverse.media--center
        .media__figure
          img.img-responsive.center-block(src="http://placehold.it/434x362/666666/222222?text=Img", alt="")
        .media__body
          p 
            strong Planteaza pentru Romania 
            |  ofera posibilitatea tuturor de a contribui la imbunatatirea situatiei padurilor romanesti prin implicarea directa. Orice individ, ONG sau institutie poate sa participe la evenimentul nostru si sa transforme Romania in Campiona Mondiala la Plantat.
      p.h-margin-bottom-70 
        strong Planteaza pentru Romania 
        |  este un proiect 100% transparent prin care donatia ta ajuta la refacerea, protejarea si conservarea padurilor. Salveaza padurile din Romania si doneaza pentru a fi tu cel care decide soarta ecosistemelor forestiere. Fiecarei donatii ii va corespunde un arbore care va fi plantat intr-una din padurile din imprejurimea zonei Brasov.
        
      .text-center.h-margin-bottom-50
        a.btn.btn--secondary(href="#") Doneaza un copac
