template
	section.au-animate
	//- TODO: #75 Add Content
		h1.page-title ${heading}
		h2 Măsurile luate pentru asigurarea securității prelucrării
		h3 CAPITOLUL I: DISPOZIŢII GENERALE
		h4 SCOPUL ŞI SFERA DE APLICARE
		h5 Art. 1
		ol
			li Prezentul Regulament are ca scop stabilirea unor norme de conduită pentru asigurarea unui nivel satisfăcător de protecţie a datelor cu caracter personal prelucrate de către #[strong Asociația „Prietenii Pădurilor din România”].
			li Normele de conduită stabilesc exercitarea drepturilor şi obligaţiilor pe care #[strong Asociația „Prietenii Pădurilor din România”] le are în domeniul protecţiei persoanelor în privinţa datelor cu caracter personal, în relaţiile firmei cu persoanele vizate, precum şi cu alte persoane fizice sau juridice.
			li Normele cuprinse în prezentul Regulament nu aduc atingere altor obligaţii legale ce revin #[strong Asociației „Prietenii Pădurilor din România”].

		h4 DEFINIREA TERMENILOR
		h5 Art. 2
		ol
			li Termenii folosiţi au următorul sens:
				ul
					li persoana vizată - persoana fizică ale cărei date cu caracter personal sunt prelucrate:
						ul
							li clienți sau posibili clienți
							li consumatori sau potențiali consumatori
					li a colecta - a strânge, a aduna, a primi date cu caracter personal de la persoanele prevăzute la lit. a) din prezentul articol prin intermediul platformelor web.
					li a dezvălui - a transmite, a disemina, a face disponibile în orice alt mod date cu caracter personal, în afara operatorului;
					li a utiliza - a se folosi datele cu caracter personal de către şi în interiorul operatorului;
					li consimţământ - acordul neviciat al persoanei vizate de a-i fi prelucrate datele cu caracter personal, care trebuie să fie întotdeauna expres şi neechivoc;
					li nivel de protecţie şi de securitate adecvat al prelucrărilor de date cu caracter personal - nivelul de securitate proporţional riscului pe care îl comport prelucrarea faţă de datele cu caracter personal respective şi faţă de drepturile şi libertăţile persoanelor şi conform cerinţelor minime de securitate a prelucrărilor de date cu caracter personal, elaborate de autoritatea de supraveghere şi actualizate corespunzător stadiului dezvoltării tehnologice şi costurilor implementarii acestor măsuri;
			li Termeni precum: date cu caracter personal, prelucrarea datelor cu caracter personal, stocare, operator, terţ, destinatar, date anonime, autoritate de supraveghere, dreptul de informare, dreptul de acces, dreptul de intervenţie, dreptul de opoziţie au sensurile definite de Legea nr. 677/2001 pentru protecţia persoanelor cu privire la prelucrarea datelor cu caracter personal şi libera circulaţie a acestor date.

		h4 CADRUL LEGAL
		h5 Art. 3
		p În vederea elaborării prezentului Regulament s-a avut în vedere respectarea dispoziţiilor legale referitoare la protecţia dreptului la viaţa intimă, familială şi privată, în ceea ce priveşte prelucrarea datelor cu caracter personal, în conformitate cu Legea nr. 677/2001.

		h3 CAPITOLUL II: PRINCIPIILE ŞI CADRUL INSTITUŢIONAL PRIVIND PRELUCRAREA DE DATE CU CARACTER PERSONAL DE CĂTRE ASOCIAȚIA „PRIETENII PĂDURILOR DIN ROMÂNIA” 

		h4 LEGALITATEA ŞI TRANSPARENȚA
		h5 Art. 4
		p #[strong Asociația „Prietenii Pădurilor din România”] recunoaşte şi respectă dreptul la viaţă intimă, familială şi privată, prelucrarea datelor cu caracter personal desfăşurându-se în conformitate cu prevederile legale în vigoare precizate la art. 3 din prezentul Regulament.

		h4 RESPONSABILITATEA
		h5 Art. 5
		ol
			li #[strong Asociația „Prietenii Pădurilor din România”] utilizează datele cu caracter personal ale persoanelor vizate prin intermediul:
				ul
					li unei baze de date alcătuite din informaţii obţinute direct de la persoanele vizate prin consimţământul acestora şi informaţii furnizate de orice sursă externă autorizată de lege
			li #[strong Asociația „Prietenii Pădurilor din România”] este responsabilă pentru datele cu caracter personal referite la al. 1, aflate sub controlul său, precum şi pentru datele transferate către terţi.
			li Persoanele care vor răspunde pentru respectarea dispoziţiilor legale din domeniul protecţiei persoanelor şi a datelor cu caracter personal, precum şi a principiilor prevăzute în prezentul Regulament sunt numai persoane angajate în cadrul #[strong Asociația „Prietenii Pădurilor din România”] şi care au ca atribuţii colectarea, utilizarea, prelucrarea, datelor cu caracter personal.

		h4 LEGITIMITATEA SCOPULUI COLECTĂRII
		h5 Art. 6
		ol
			li #[strong Asociația „Prietenii Pădurilor din România”] se angajează să colecteze date cu caracter personal prin mijloace care nu sunt frauduloase, neloiale sau ilegale.
			li Persoanele vizate vor fi informate asupra categoriilor de date care sunt prelucrate, scopul prelucrării precum şi consecinţele refuzului acestora de a furniza #[strong Asociația „Prietenii Pădurilor din România”] datele solicitate.
			li Scopurile pentru care se colectează date se precizează în scris, într-un limbaj uşor accesibil pentru persoanele vizate.
			li Scopul major pentru care #[strong Asociația „Prietenii Pădurilor din România”] colectează date cu caracter personal în vederea încurajării plantării de copaci pe teritoriul României, fiecărui client-donator fiindu-i alocat un arbore cu un număr și o serie. 

		h4 CONSIMŢĂMÂNTUL
		h5 Art. 7
		ol
			li În cazul prelucrării datelor cu caracter personal, se cere consimţământul persoanelor vizate. 
			li Consimţământul de colectare a datelor cu caracter personal se exprimă prin completarea de formulare electronice însoţite de note de informare a persoanelor vizate în legătură cu prelucrarea datelor cu caracter personal. În anexa 1 este prezentata nota de informare însoţitoare pentru principalele tipuri de situaţii. După caz, #[strong Asociația „Prietenii Pădurilor din România”] , va utiliza şi alte variante de declaraţii concepute în aceeaşi manieră cu prezentul regulament.
			li Persoana vizata îşi poate retrage consimţământul în orice moment, sub condiţia avizării prealabile a operatorului. Acesta va informa persoana vizată în legatura cu procedura şi efectele retragerii consimţământului.

		h4 LEGITIMITATEA DEZVĂLUIRII
		h5 Art. 8
		ol
			li #[strong Asociația „Prietenii Pădurilor din România”] va prelucra datele cu caracter personal numai pentru scopurile pentru care au fost colectate, cu excepţia cazului în care persoana vizată îşi dă anterior consimţământul şi pentru prelucrarea în alte scopuri sau în alte cazuri permise de lege.
			li Accesul la datele prelucrate va fi permis numai angajaţilor #[strong Asociația „Prietenii Pădurilor din România”], în îndeplinirea obligaţiilor de serviciu. 

		h4 LEGITIMITATEA STOCĂRII
		h5 Art. 9
		ol
			li #[strong Asociația „Prietenii Pădurilor din România”] se obligă să ia toate măsurile necesare pentru păstrarea datelor cu caracter personal de o manieră exactă, completată şi actualizată, pentru a îndeplinii scopurilor pentru care acestea au fost colectate.
			li Datele inexacte sau incomplete vor fi rectificate sau eliminate din evidenţa curentă.
			li Datele cu caracter personal vor fi păstrate numai pe perioada necesară îndeplinirii scopurilor stabilite, cu respectarea drepturilor persoanei vizate, în special a dreptului de acces, de intervenţie şi de opoziţie.
			li În urma verificărilor periodice datele cu caracter personal deţinute de operator, care nu mai servesc realizării scopurilor sau îndeplinirii unor obligaţii legale, vor fi distruse sau transformate în date anonime într-un interval de timp rezonabil, potrivit procedurilor stabilite de lege.

		h4 SECURITATEA PRELUCRARILOR
		h5 Art. 10
		p #[strong Asociația „Prietenii Pădurilor din România”] are obligaţia de a lua toate măsurile tehnice şi organizatorice necesare pentru asigurarea unui nivel de protecţie şi de securitate adecvat, în cadrul operaţiunilor efectuate asupra datelor cu caracter personal. În acest scop la bazele de date vor avea acces numai persoane autorizate, iar copierea datelor se va putea face numai la locul în care sunt gestionate.
		Utilizatorii care au acces la bază de date a informațiilor cu caracter personal sunt doar angajații firmei. Toți utilizatorii sunt obligați să păstreze confidențialitatea datelor la care au acces, iar la fiecare terminare de sesiune în bază de date vor închide sesiunea.
		ul
			li Toți utilizatorii își vor crea parole de acces în sistem.  
			li Utilizatorii accesează datele cu caracter personal numai pentru îndeplinirea atribuțiilor de serviciu; 
			li Orice operațiune de colectare și/sau modificare a datelor cu caracter personal de către utilizatori sunt înregistrate permanent (se înregistrează utilizatorul, data, oră și tipul modificării).
			li Zilnic se efectuează o copie de siguranță a bazei de date. 
			li Imprimarea datelor cu caracter personal se realizează numai de către utilizatorii autorizați pentru această operațiune și numai în scopuri cerute de legile în vigoare.
			li Bază de date va fi stocată de către un furnizor de găzduire web pe bază unui abonament lunar. Orice dezvăluire de date cu caracter personal nu se imputa Asociația „Prietenii Pădurilor din România” atât timp cât utilizarea bazei de date și a website-ului a fost conformă cu prezentului Regulament.  


		h4 DREPTUL DE INFORMARE
		h5 Art. 11
		ol
			li La cerere, atunci cand legea nu interzice, #[strong Asociația „Prietenii Pădurilor din România”] va comunica informaţii referitoare la: categoriile de date cu caracter personal pe care le prelucrează, sursele de la care au fost colectate datele cu caracter personal, scopurile prelucrării, precum şi dacă, respectiv unui terţ i-au fost dezvăluite aceste date.
			li În cazul în care dezvaluirea datelor este impusă de lege (de exemplu, în vederea executării unei hotărâri judecătoreşti), #[strong Asociația „Prietenii Pădurilor din România”] se va asigura ca terţul care solicită dezvăluirea acţionează în conformitate cu dispoziţiile legale incidente, iar cererea priveşte numai datele cu caracter personal neexcesive prin raportare la scopul prelucrării. Persoana vizată va fi informată în legatura cu dezvaluirea, numai dacă legea permite.

		h4 DREPTUL DE ACCES
		h5 Art. 12
		ol
			li Pesoanele vizate au dreptul să se informeze cu privire la datele personale proprii deţinute de Asociația „Prietenii Pădurilor din România”, utilizând în acest scop diverse căi comunicare (email: #[a(href="mailto:office@prieteniipadurilor.ro") office@prieteniipadurilor.ro], cerere scrisă)
			li O persoană vizată nu are dreptul de a accesa datele cu caracter personal ale altei persoane vizate.

		h4 DREPTUL DE INTERVENŢIE
		h5 Art. 13
		ol
			li Persoanele vizate au dreptul de a solicita verificarea exactităţii şi a caracterului complet al datelor cu caracter personal care le privesc, precum şi de a solicita rectificarea datelor inexacte sau incomplete, prin formularea unor contestaţii.
			li #[strong Asociația „Prietenii Pădurilor din România”] va păstra o evidenţă a contestaţiilor privind caracterul exact sau complet al datelor, precum şi o evidenţă a datelor transferate către alţi operatori. Evidenţele vor conţine datele care au fost rectificate şi datele care au fost transferate. (3) Actualizarea bazelor de date se face prin intermediul informaţiilor transmise de persoanele vizate, precum şi prin informaţiile furnizate de orice sursă externă autorizata de lege.

		h4 DREPTUL DE OPOZIŢIE
		h5 Art. 14
		ol
			li Persoana vizată are dreptul de a se opune în orice moment, din motive întemeiate şi legitime legate de situaţia sa particulară, ca date care o vizează să facă obiectul unei prelucrări, cu excepţia cazurilor în care există dispoziţii legale contrare. În caz de opoziţie justificată prelucrarea nu mai poate viza datele în cauză.
			li Persoana vizată are dreptul de a se opune în orice moment, în mod gratuit şi fără nici o justificare, ca datele care o vizează să fie prelucrate în scop de marketing direct, în numele operatorului sau al unui terţ, sau să fie dezvăluite unor terţi într-un asemenea scop.
			li În vederea exercitării drepturilor prevăzute la alin. 1) şi 2) persoana vizată va înainta operatorului o cerere întocmită în formă scrisă, datată şi semnată. În cerere solicitantul poate arăta dacă doreşte ca informaţiile să îi fie comunicate la o anumită adresă, care poate fi şi de poştă electronică, sau printr-un serviciu de corespondenţă care să asigure că predarea i se va face numai personal.
			li Operatorul este obligat să comunice persoanei vizate măsurile luate în temeiul alin. 1) sau 2), precum şi, dacă este cazul, numele terţului căruia i-au fost dezvăluite datele cu caracter personal referitoare la persoana vizată, în termen de 15 zile de la data primirii cererii, cu respectarea eventualei opţiuni a solicitantului exprimate potrivit alin. 3).

		h4 SOLUŢIONAREA PLANGERILOR
		h5 Art. 15
		ol
			li #[strong Asociația „Prietenii Pădurilor din România”] este obligată să rezolve plângerile şi orice alte cereri legate de prelucrarea datelor cu caracter personal, în termenele şi condiţiile prevăzute de lege.

		h4 Anexa nr. 1
		h5 Nota informativa privind prelucrarea datelor cu caracter personal
		p Conform prevederilor Legii nr. 677/2001 pentru protecția persoanelor cu privire la prelucrarea datelor cu caracter personal și liberă circulație a acestor date, modificată și completată, și ale Legii nr. 506/2004 privind prelucrarea datelor cu caracter personal și protecția vieții private în sec-torul comunicațiilor electronice, #[strong Asociația „Prietenii Pădurilor din România”] (deținătoarea site-ului #[a(href="http://www.planteazapentruromania.ro") www.planteazapentruromania.ro]) are obligația de a administra în condiții de siguranță și numai pentru scopurile specificate, datele personale furnizate.  
		p Prelucrarea datelor cu caracter personal se realizează prin mijloace automate/manuale, cu respectarea cerințelor legale și în condiții care să asigure securitatea, confidențialitatea și respec-tarea drepturilor persoanelor vizate. 
		p Prelucrarea datelor cu caracter personal se face în temeiul și în conformitate cu prevederile legale. Orice prelucrare de date cu caracter personal se face în scopuri bine determinate, explicite și legitime, adecvate, pertinente și neexcesive prin raportare la scopul în care sunt colectate și ulterior prelucrate. Scopul colectării datelor de pe #[a(href="http://www.planteazapentruromania.ro") www.planteazapentruromania.ro] este: informarea utilizatorilor / clienților/ consumatorilor despre numărului și serie copacului alocat ca urmare a donației efectuate prin intermediul campaniei prezentate și monitorizarea procesului de plantare pe teritoriul României, precum și, promovarea a campanie prin servicii de marketing, de publicitate, de media, administrative, de cercetare de piață și de statistică
		p #[strong Asociația „Prietenii Pădurilor din România”] certifică faptul că îndeplinește cerințele minime de securitate a datelor cu caracter personal. Măsurile de securitate a datelor cu caracter personal sunt stabilite astfel încât să asigure un nivel adecvat de securitate a datelor cu caracter personal procesate, mereu actualizate și atât la nivel hardware, cât și software. 
		p #[strong Asociația „Prietenii Pădurilor din România”] utilizează metode și tehnologii de securitate, pentru a proteja datele cu caracter personal colectate conform prevederilor legale în vigoare, iar personalul este instruit în ceea ce privește securitatea și confidențialitatea datelor cu caracter personale care sunt prelucrate. 
		p Accesul la computerele ce conțin bazele de date cu caracter personal este restricționat cu cont/ușer și parolă, iar datele cu caracter personal nu vor fi înstrăinate sub nicio formă terțelor, ac-cesul la bazele de date fiind permis doar persoanelor autorizate în acest sens. 
		p Orice prelucrare de date cu caracter personal, cu excepția prelucrărilor care vizează date din categoriile strict menționate în Legea 677/2001, poate fi efectuată numai dacă persoană vizată și-a dat consimțământul în mod expres și neechivoc pentru acea prelucrare. Persoanele vizate au dreptul de acces la datele care sunt prelucrate, dreptul de a interveni asupra acestora, dreptul de opoziție și dreptul de a nu fi supus unei decizii individuale, precum și dreptul de a se adresă Autorității Naționale de Supraveghere a Prelucrării Datelor cu Caracter Personal sau instanței de judecată pentru apărarea oricăror drepturi garantate de lege, care le-au fost încălcate. Aceste drepturi presupun posibilitatea de a obține de la #[strong Asociația „Prietenii Pădurilor din România”], la cerere și în mod gratuit, răspuns la o solicitare pe an privind statusul prelucrării datelor personale de către #[strong Asociația „Prietenii Pădurilor din România”]. Solicitarea poate să fie transmisă pe adresa de email #[a(href="mailto:office@prieteniipadurilor.ro") office@prieteniipadurilor.ro]. Totodată utilizatorul poate dispune la cerere și în mod gratuit rectificarea, actualizarea, blocarea sau ștergerea datelor a căror prelucrare nu este conformă cu Legea 677/2001, în special a datelor incomplete sau inexacte și posibilitatea de a obține de la  #[strong Asociația „Prietenii Pădurilor din România”], la cerere și în mod gratuit transformarea în date anonime a datelor a căror prelucrare nu este conformă cu Legea 677/2001. Utilizatorul are dreptul de a se opune în orice moment, din motive întemeiate și legitime, că datele care îl vizează să facă obiectul unor prelucrări, cu excepția cazurilor în care există dis-poziții legale contrare. În caz de opoziție justificată prelucrarea nu mai poate viză datele în cauza, iar nerespectarea drepturilor garantate de Legea nr. 677/2001 poate fi adresată Autorității Naționale de Supraveghere a Prelucrării Datelor cu Caracter Personal sau/și instanțelor de judecată.
