template
  section(class.bind="'au-animate ' + routeConfig.name")
    .container
      h1.page-title ${heading}
      .media.media--showcase.media--responsive.media--reverse.media--center
        .media__figure
          img.img-responsive.center-block(src="/dist/assets/img/about/about-1.jpg", alt="")
        .media__body
          p Proiectul #[strong "Planteaza pentru Romania"] vine in intampinarea nevoilor societatii romanesti (institutii publice,companii , ONG-uri sau simpli cetateni) oferind oricui oportunitatea de a contribui concret, rapid si foarte simplu la imbunatatirea situatiei #[strong Padurilor Romanesti], la cresterea calitatii propriei vietii si la marirea gradului de coeziune sociala!
      .media.media--showcase.media--responsive.media--center
        .media__figure
          img.img-responsive.center-block(src="/dist/assets/img/about/about-2.jpg", alt="")
        .media__body
          p Acum, cand incalzirea globala este o problema reala, recunoscuta de intreaga umanitate (in urma conferintei de la Paris din luna decembrie), acum cand cu totii punem direct sau indirect o presiune uriasa asupra padurilor (consumand ca specie resursele pamantului cu #[strong 60%] mai mult decat se regeneraza ele anual), #[strong “Planteaza pentru Romania”] este solutia oferita societatii romanesti de catre #[strong Asociatia Prietenii Padurilor din Romania], ce permite oricarei persoane responsabile sa treaca de la vorbe la fapte si sa faca ceva concret pentru binele nostru comun si pentru binele padurilor din Romania!
      .media.media--showcase.media--responsive.media--reverse.media--center
        .media__figure
          img.img-responsive.center-block(src="/dist/assets/img/about/about-3.jpg", alt="")
        .media__body
          p #[strong “Planteaza pentru Romania”] este un proiect fascinant care isi propune sa “protejeze padurile prin oameni” si sa contribuie la dezvoltarea unor comunitati puternice, responsabile si prospere care sa traieasca in deplina armonie cu ecosistemele forestiere.
      .h-margin-bottom-70
        p Pentru ca #[strong Padurile Romaniei sau “Aurul nostru Verde”] reprezinta cea mai importanta resursa naturala regenerabila a tarii, te invitam sa devii si tu #[strong prieten al padurilor din Romania], pentru ca viitorul nostru depinde de starea acestora, va invitam sa deveniti si voi “Prieteni ai Padurilor din Rom si sa faci parte din "Echipa Nationala de Plantat a Romaniei" contribuind astfel al a un viitor comun mai bun!
        
      .text-center.h-margin-bottom-50
        a.btn.btn--secondary(href="/#/planteaza") Doneaza un copac
