//- TODO: #105 Add real images
//- TODO: #105 Add latest content
template
  section(class.bind="'au-animate ' + routeConfig.name")
    .container
      h1.page-title ${heading}
      .media.media--showcase.media--responsive.media--reverse.media--center
        .media__figure
          img.img-responsive.center-block(src="/dist/assets/img/about/about-1.jpg", alt="")
        .media__body
          p „Plantează pentru România” reprezintă cea mai mare acțiune privată de plantare de arbori desfășurată până acum în România și își propune plantarea a 1,2 milioane de puieți într-o singură zi și doborârea recordului mondial. Proiectul este realizat de Asociația „Prietenii Pădurilor din România” în colaborare cu o serie de parteneri instituționali și privați.
      .media.media--showcase.media--responsive.media--center
        .media__figure
          img.img-responsive.center-block(src="/dist/assets/img/about/about-2.jpg", alt="")
        .media__body
          p Conform studiului Greenpeace cu privire la evoluția suprafeței acoperite de păduri din România în intervalul 2000 – 2014, România a pierdut aproximativ 3 hectare de pădure pe oră. În România suprafața acoperită de pădure a scăzut dramatic în secolul al XX-lea, ajungând astăzi la #[strong 27,45%], sub media țărilor UE de #[strong 32,4%] și sub capacitatea și optimul calculat la #[strong 35%] (Conform Planului Național de Dezvoltare Rurală 2014 - 2020). 
      .media.media--showcase.media--responsive.media--reverse.media--center
        .media__figure
          img.img-responsive.center-block(src="/dist/assets/img/about/about-3.jpg", alt="")
        .media__body
          p Asociația Prietenii Pădurilor din România” a participat deja la peste 200 de acțiuni de curățarea a pădurilor și a izvoarelor naționale alături de peste 2000 de voluntari, reușind să curețe în proporție de 90% din zona forestieră din perimetrul Râșnov-Brașov-Poiana Brașov. Totodată, Asociația și-a propus realizarea unui program educațional unic, destinat copiilor, de educație silvică, prin care aceștia sunt învățați să respecte mediul înconjurător și pădurile și să participe ca voluntari la diferite acțiuni ecologice. 
      .h-margin-bottom-70
        p „Plantează pentru România” se adrează tuturor celor care își doresc îmbunățirea situației pădurilor prin realizarea celei mai mari acțiuni de plantat desfășurată până în acest moment în România.  Aceasta oferă posibilitatea tuturor de a contribui la îmbunătățirea situației pădurilor românești prin implicarea directă. Orice individ, ONG sau instituție poate să participe la eveniment și să transforme România în Campiona Mondială la Plantat. 
        p „Plantează pentru România” este un proiect 100% transparent prin care donația ta ajută la refacerea, protejarea și conservarea pădurilor. Salvează pădurile din România și donează pentru a fi tu cel care decide soarta ecosistemelor forestiere. Fiecărei donații îi va corespunde un arbore care va fi plantat într-una din pădurile din împrejurimea zonei Brașov.
        p Te așteptăm în comunitatea noastră și să fii și tu prietenul Pădurilor din România!
        
      .text-center.h-margin-bottom-50
        a.btn.btn--secondary(href="/#/planteaza") Doneaza un copac
