template
  section(class.bind="'au-animate ' + routeConfig.name")
    .container
      //- TODO: #125 Design
      //- TODO: #92 Frontend Implementation
      //- TODO: #93 Backend Implementation
      h1.page-title ${heading}
      p
        strong Planteaza pentru Romania 
        |  este un proiect 100% transparent prin care donatia ta ajuta la refacerea, protejarea si conservarea padurilor. Salveaza padurile din Romania si doneaza pentru a fi tu cel care decide soarta ecosistemelor forestiere.
      form#contactForm.form--contact(action="", submit.delegate="sendEmail()")
        span Buna ziua, numele meu este
        .form-group--inline.form-wrap
          input#name.form-control(type="text", placeholder="(Adauga nume) *", value.bind="model.name", required="", data-parsley-minlength="3")
        span si ma puteti contacta la adresa de email
        .form-group--inline.form-wrap
          input#email.form-control(type="email", placeholder="(Adauga adresa de email) *", value.bind="model.email", required="", data-parsley-type="email")
        br
        span Fac parte din compania
        .form-group--inline.form-wrap
          input#company.form-control(type="text", placeholder="(Adauga numele companiei)", value.bind="model.company")
        span cu codul fiscal
        .form-group--inline.form-wrap
          input#fiscal.form-control(type="text", placeholder="(Adauga cod fiscal)", value.bind="model.vat" required.bind="mode.company.trim()", data-parsley-pattern.bind="mode.company.trim() ? '(RO)?\\\\d{}' : '.*'")
        br
        span si va contactez in legatura cu
        .form-group.form-wrap
          input#subject.form-control.text-center(type="text", placeholder="(Adauga subiectul mesajului) *", value.bind="model.subject", required="")
        br
        .form-group.h-margin-bottom-40.form-wrap
          textarea.form-control#message(placeholder="Mesajul meu: *", value.bind="model.message", required="")
        .form-group.h-margin-bottom-40.form-wrap
          recaptcha.recaptcha.recaptcha--center(sitekey='6LcY4xgTAAAAAMeib0PTHPWykIbArxuMUuMTknt4', theme='light', callback='toggleRecaptchaValidate')
          input#rc.sr-only(type="checkbox", name="rc", checked.bind="model.notRobot", required="")
        .form-group.form-wrap.text-center
          button.btn.btn--secondary(type="submit") Contacteaza-ne
