template
  section(class.bind="'au-animate ' + routeConfig.name")
    .container
      h1.page-title ${heading}
      p.text-center
        | Vrei sa contribui si tu la 
        a(href="http://www.prieteniipadurilor.ro") protejarea, conservarea, refacerea si dezvoltarea padurilor din Romania
        | ? 
        strong Contacteaza-ne!
      form#contactForm.form--contact(action="", submit.delegate="sendEmail()")
        span Buna, numele meu este
        .form-group--inline.form-wrap
          input#name.form-control(type="text", placeholder="(Adauga nume) *", value.bind="model.name", required="", data-parsley-minlength="3")
        span si ma puteti contacta la adresa de email
        .form-group--inline.form-wrap
          input#email.form-control(type="email", placeholder="(Adauga adresa de email) *", value.bind="model.email", required="", data-parsley-type="email")
        br
        span Fac parte din compania
        .form-group--inline.form-wrap
          input#company.form-control(type="text", placeholder="(Adauga numele companiei)", value.bind="model.company")
        span cu codul fiscal
        .form-group--inline.form-wrap
          input#fiscal.form-control(type="text", placeholder="(Adauga cod fiscal)", value.bind="model.vat" required.bind="mode.company.trim()", data-parsley-pattern.bind="mode.company.trim() ? '(RO)?\\\\d{}' : '.*'")
        br
        span si va contactez in legatura cu
        .form-group.form-wrap
          input#subject.form-control.text-center(type="text", placeholder="(Adauga subiectul mesajului) *", value.bind="model.subject", required="")
        br
        .form-group.h-margin-bottom-40.form-wrap
          textarea.form-control#message(placeholder="Mesajul meu: *", value.bind="model.message", required="")
        .form-group.h-margin-bottom-40.form-wrap
          recaptcha.recaptcha.recaptcha--center(sitekey='6LcY4xgTAAAAAMeib0PTHPWykIbArxuMUuMTknt4', theme='light', callback='toggleRecaptchaValidate')
          input#rc.sr-only(type="checkbox", name="rc", checked.bind="model.notRobot", required="")
        .form-group.form-wrap.text-center
          button.btn.btn--secondary(type="submit") Contacteaza-ne

  #message-box-success.modal.modal-msg.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .modal-icon
            i.fa.fa-info-circle
          .modal-body-content
            p Mesajul tau a fost transmis. Un reprezentant al Asociatiei Prietenii padurilor te va contacta cat mai curand.
        .modal-footer
          button.btn.btn--sm.btn--neutral(data-dismiss="modal") OK

  #message-box-error.modal.modal-msg.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .modal-icon
            i.fa.fa-exclamation-triangle
          .modal-body-content
            p Nu am putut transmite mesajul. Va rugram sa ne scrieti pe adresa de mail 
              a(href="mailto:office@prieteniipadurilor.ro") office@prieteniipadurilor.ro
        .modal-footer
          button.btn.btn--sm.btn--neutral(data-dismiss="modal") OK
