template
	require(from='../3rdpt/owl.carousel/owl-carousel/owl.carousel.min.js')

	section(class.bind="'au-animate ' + routeConfig.name")
		.container
			h1.page-title ${heading}
			p Iti multumim pentru donatia facuta. Copacelul la plantarea caruia tu ai contribuit astazi va creste mare si va avea grija de planeta ta. 
			
			.certificate
				.certificate__inner
					.certificate__logo
						img(src="/dist/assets/img/logo.png", alt="")
					h3.certificate__title Diploma
					.certificate__content
						span Se acorda titlul de #[strong "Prieten(a) al Padurilor din Romania"] companiei/persoanei
						.form-group
							input.certificate__input.form-control.form-control--full(type="text", name="", value="")
						span Pentru ca a sustinut proiectul #[strong "Planteaza pentru Romania"] editia nr. 1 din 2016 adoptand
						.form-group.form-group--inline
							input.certificate__input.form-control(type="text", name="", value="")
						span puieti.
						p *Suma primita de la oricine o impartim la 5 RON care este unitatea standard de masura a implicarii financiare in cadrul acestui proiect (cu fiecare 5 RON sponsorii sau donatorii adopta un arbore).
					.certificate__footer
						.l-flex.l-flex--vcenter
							.l-flex__item
								.stamp
									span.stamp__text Editia
									span.stamp__number 1
							.l-flex__item
								.certificate__signature
									span #[strong Prietenii Padurilor din Romania]
									br
									span Presedinte
										br
										| ing. silvic Florin Nan
									br
									.form-group.form-group--inline
										input.certificate__input.form-control(type="text", name="", value="")
				.flag.flag--ro.flag--diploma
					.flag__colour
					.flag__colour
					.flag__colour

			.text-center.btn__group
				a.btn.btn--sm.btn--secondary(href="") Trimite pe mail
				a.btn.btn--sm.btn--secondary(href="") Descarca PDF
