template
	section(class.bind="'au-animate ' + routeConfig.name")
		.container
			h1.page-title ${heading}
			.faq
				h3.faq__question 1. Cine suntem?
				.faq__answer
					p Asociația „Prietenii Pădurilor din România” a apărut  2012, în Brașov, cu scopul de a proteja, dezvolta, reface și conserva Ecosistemele Forestiere din România. Am pus bazele „Silvotectii”, o ramură șțiintifică nouă la nivel mondial, care studiază interacțiunea omului cu ecosistemele forestiere. Am conceput, dezvoltat și introdus în premieră în școlile din România programul „Educația Silvică”, un proiect educațional prin care copiii sunt învățați să respecte mediul înconjurător. Am participat pănă în acest moment la peste 200 de acțiuni de curățarea a pădurilor și a izvoarelor naționale alături de peste 2000 de voluntari, reușind să curățăm astfel în proporție de 90% din zona forestieră din perimetrul Râșnov-Brașov-Poiana Brașov. Printre proiectele noastre menționăm și următoarele: „Forest Therapy„ (trasee montane), „Team Building Environmental Event„ și „Plantează Pentru România”.
			.faq
				h3.faq__question 2.  Ce este www.planteazapentruromania.ro?
				.faq__answer
					p Defrișarea ilegală, administrarea axată pe exploatarea economică, braconajul, precum și o legislație neclară, au permis reducerea considerabilă în ultimii ani și degradarea pădurilor din România. Conform Ordonanţei de urgenţă nr. 32/2015 privind înfiinţarea Gărzilor Forestiere o medie de 8,8 milioane m3 de lemn este extras ilegal anual. Defrișarea abuzivă a condus la dispariția unor specii de animale și păsări rare precum: acvila de munte, zimbrul, dropia sau lostrita.
					p „Plantează pentru România” este un proiect care vine în întâmpinarea nevoilor societății românești (Ocoale Silvice, Instituții Publice, Companii Private, ONG-uri sau simpli cetățeni) de a oferi concret posibilitatea rapid de a îmbunătăți situația pădurilor. „Plantează pentru România” reprezintă cea mai mare acțiune privată de plantare de arbori desfășurată până acum în România și își propune plantarea a 1,2 milioane de puieți într-o singură zi. Proiectul se adresează tuturor celor care își doresc îmbunățirea situației pădurilor și oferă posibilitatea tuturor de a contribui la îmbunătățirea situației pădurilor românești prin implicarea directă. Orice individ, ONG sau instituție poate să participe la eveniment și să transforme România în Campiona Mondială la Plantat.
			.faq
				h3.faq__question 3. Cum mă pot implica?
				.faq__answer
					ol.h-list-lower-alpha
						li voluntar virtual: distribuie pe rețelele de socializare informațiile pe care le consideri utile și interesante (Ne găsești pe Facebook pe paginile Prietenii Pădurilor sau Plantează pentru România);
						li voluntar la plantat: participă la cea mai mare acțiune de plantat cu participare publică organizată în România;
						li partener: organizația/instituția/compania ta;
						li donator: să donezi o sumă de bani pentru a ne susține proiectul, iar noi voi planta un puiet în numele tău. Fiecare donator o să primească un arbore cu un număr și serie pe care îl poate urmări apoi în timpul procesului de plantare. Prin intermediul codului primit în emailul de confirmare tu vei știi exact locația în care a fost plantat și îi vei putea ulterior verifica evoluția. În limita fondurilor atrase de proiect vom oferi și copiilor din clasele primare din cadrul comunităților permanente accesul la programul educațional „Educația Silvică”.
			.faq
				h3.faq__question 4. Unde, când,…?
				.faq__answer
					p Acțiunea de plantare se va realiza în intervalul 15.03.16 - 15.04.16, data exacta și locațiile finale fiind afișate în jurul datei de 15.03.16.
