template
	section(class.bind="'au-animate ' + routeConfig.name")
		.container
			h1.page-title ${heading}
			.faq
				h3.faq__question 1. Cine suntem?
				.faq__answer
					p #[strong Asociația „Prietenii Pădurilor din România”] a apărut in 2012, în Brașov, cu misiunea de a proteja, dezvolta, reface și conserva #[strong Ecosistemele Forestiere din România]. Am pus bazele #[strong „Silvotectii”], o ramură științifică nouă la nivel mondial, care studiază interacțiunea omului ca individ si specie cu ecosistemele forestiere. Am conceput, dezvoltat și introdus în premieră în școlile din România programul #[strong „Educația Silvică”], un proiect educațional prin care ne propunem sa imprietenim copii cu natura in general si cu Padurea in special. Impreuna cu peste #[strong 2000 de prieteni/voluntari], am organizat pănă în acest moment #[strong peste 200] de acțiuni de ecologizare a pădurilor, raurilor și  izvoarelor din perimetrul #[strong Râșnov-Brașov-Poiana Brașov]. #[strong ”Educatia Silvica”], #[strong ”Forest Therapy”], #[strong ”Team Building Environmental Event”] și #[strong ”Plantează Pentru România”] sunt proiectele noastre concrete prin care contribuim la imbunatatirea relatiei #[strong Om/Padure].
			.faq
				h3.faq__question 2.  Ce este www.planteazapentruromania.ro?
				.faq__answer
					p Defrișarea ilegală, administrarea axată pe exploatarea economică, braconajul, precum și o legislație neclară, au permis reducerea considerabilă în ultimii ani și degradarea pădurilor din România. Conform Ordonanţei de urgenţă nr. 32/2015 privind înfiinţarea Gărzilor Forestiere, anual o medie de #[strong 8.8 milioane m#[sup 3] de lemn] este extras ilegal. Defrișarea abuzivă a condus la dispariția unor specii de animale și păsări rare, precum: acvila de munte, zimbrul, dropia sau lostrita.
					p #[strong „Plantează pentru România”] este un proiect care vine în întâmpinarea nevoilor societății românești (Ocoale Silvice, Instituții Publice, Companii Private, ONG-uri sau simpli cetățeni), oferind, concret, posibilitatea regenerarii pădurilor, reprezentand cea mai mare acțiune privată de plantare de arbori desfășurată până acum în România.
					p Ne propunem ca alaturi de voi sa plantam #[strong 1.2 milioane de puieți într-o singură zi]. Acest proiect se adresează celor care își doresc îmbunățirea situației pădurilor, oferind, astfel, tuturor posibilitatea de a contribui la îmbunătățirea situației pădurilor românești prin implicarea directă. Orice individ, ONG sau instituție, poate să participe la eveniment și să transforme România în #[strong Campiona Mondială la Plantat].
			.faq
				h3.faq__question 3. Cum mă pot implica?
				.faq__answer
					ol.h-list-lower-alpha
						li voluntar virtual: distribuie pe rețelele de socializare informațiile pe care le consideri utile și interesante (Ne găsești pe Facebook pe paginile Prietenii Pădurilor sau Plantează pentru România);
						li voluntar la plantat: participă la cea mai mare acțiune de plantat cu participare publică organizată în România;
						li partener: organizația/instituția/compania ta;
						li donator: donează o sumă de bani pentru a ne susține proiectul, iar noi vom planta un puiet în numele tău. 
					p Mai mult, pentru fiecare arbore plantat in numele tau, vei primi un numar si o serie cu ajutorul carora vei putea sti exact locatia in care a fost plantat si ii vei putea verifica evolutia. În limita fondurilor atrase de proiect, vom oferi și copiilor din clasele primare din cadrul comunităților permanente accesul la programul educațional #[strong „Educația Silvică”].

			.faq
				h3.faq__question 4. Unde, când,…?
				.faq__answer
					p Acțiunea de plantare se va realiza în intervalul 15.03.16 - 15.04.16, data exacta și locațiile finale fiind afișate în jurul datei de 15.03.16.
