//- TODO: Add Link to ANPC
//- TODO: Add link to IT Media Connect
//- TODO: Add Link for Protectia Datelor 
template(bindable='router')
  footer#footer
    .footer
      .footer__info
        p 
          | Copyright &copy; 2016 
          a(href="http://prieteniipadurilor.ro", target="_blank") Prietenii Padurilor
          br
          | Developed by 
          a(href="http://itmediaconnect.ro", target="_blank", title="Developer, Maintainer, Hoster") IT Media Connect
        p 
          strong 
            a(href="http://prieteniipadurilor.ro", target="_blank") Prietenii Padurilor din Romania
          br
          a(href="/#/termeni-si-conditii") Termeni si Conditii
          br
          a(href="/#/termeni-si-conditii/protectia-datelor") Protectia Datelor
          br
          a(href="/#/termeni-si-conditii/politica-cookieurilor") Politica Cookie-urilor
        p 
          strong 
            a(href='mailto:office@prieteniipadurilor.ro') office@prieteniipadurilor.ro
          br
          a(href="http://www.anpc.gov.ro/", target="_blank") ANPC
      ul.footer__social
        li
          a(href="https://www.facebook.com/Prietenii.Padurilor")
            i.fa.fa-fw.fa-facebook
        li
          a(href="https://www.instagram.com/prieteniipadurilor")
            i.fa.fa-fw.fa-instagram
