//- TODO: Add Link to ANPC
//- TODO: Add link to IT Media Connect
//- TODO: Add Link for Protectia Datelor 
template(bindable='router')
  footer#footer
    .footer__info
      .footer__col
        .footer__details
          .footer__contact
            p 
              a(href="http://prieteniipadurilor.ro", target="_blank", title="Un proiect al asociatiei Prietenii Padurilor din Romania") Prietenii Padurilor din Romania
            p
              a(href='mailto:office@prieteniipadurilor.ro') office@prieteniipadurilor.ro
          ul.footer__social
            li
              a(href="https://www.facebook.com/Prietenii.Padurilor")
                i.fa.fa-fw.fa-facebook
            li
              a(href="https://www.instagram.com/prieteniipadurilor")
                i.fa.fa-fw.fa-instagram
            li
              a(href="https://www.youtube.com/channel/UCB8V7u8wiB3GdlbeN54Mszg")
                i.fa.fa-fw.fa-youtube
      .footer__col
        ul.footer__menu
          li
            a(href="/#/termeni-si-conditii") Termeni si Conditii
          li
            a(href="/#/termeni-si-conditii/protectia-datelor") Protectia Datelor
          li
            a(href="/#/termeni-si-conditii/politica-cookieurilor") Politica Cookie-urilor
          li
            a(href="http://www.anpc.gov.ro/", target="_blank") Autoritatea Nationala pentru Protectia Consumatorilor
      .footer__col
        p 
          | Copyright &copy; 2016 
          a(href="http://prieteniipadurilor.ro", target="_blank") Prietenii Padurilor
        p
          | Developed by 
          a(href="http://itmediaconnect.ro", target="_blank", title="Developer, Maintainer, Hoster") IT Media Connect
