template(bindable='router')
	header#header
		nav.navbar(role='navigation')
			.navbar-header
				button(type='button', class.bind="router.isNavigating ? 'navbar-toggler spinner' : 'navbar-toggler'", click.delegate="menuToggle")               
					span.icon-bar            
					span.icon-bar             
					span.icon-bar
				a.navbar-brand(href='#')            
					img(src='/dist/assets/img/logo.png', alt='${router.title} Logo')
				.navbar-wrapper
					ul.nav.navbar-nav
						li(repeat.for='row of router.navigation', class="${row.isActive ? 'active' : ''}")
							a(data-toggle='collapse', data-target='#skeleton-navigation-navbar-collapse.in', href.bind='row.href') ${row.title}
