doctype html
html(lang="en")
    head
        title Planteaza pentru Romania
        //- CSS
        //- Normalize stylesheet
        link(rel='stylesheet', type='text/css', href='assets/css/normalize.css')
        
        //- FONTS
        //- Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
        //- Font Awesome
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

        //- Revolution Slider
        //- RS5.0 Main Stylesheet
        link(rel='stylesheet', type='text/css', href='assets/plugins/revolution/css/settings.css')
        //- RS5.0 Layers and Navigation Styles
        link(rel='stylesheet', type='text/css', href='assets/plugins/revolution/css/layers.css')
        link(rel='stylesheet', type='text/css', href='assets/plugins/revolution/css/navigation.css')

        //- Custom stylesheet
        link(rel='stylesheet', type='text/css', href='assets/css/styles.css')

        //- JS
        //- jQuery
        script(type='text/javascript', src='assets/js/lib/jquery-2.2.0.min.js')

        //- Revolution Slider
        //- RS5.0 Core JS Files
        script(type='text/javascript', src='assets/plugins/revolution/js/jquery.themepunch.tools.min.js?rev=5.0')
        script(type='text/javascript', src='assets/plugins/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0')
        
        script.
            document.write('<script src="\/\/' + (window.location ? window.location.hostname : 'localhost') + ':9091"><\/script>')
    body
        #wrapper
            //- Carousel
            .rev_slider_wrapper
                #slider.rev_slider(data-version='5.0')
                    ul
                        li(data-transition='fade')
                            img(src='/assets/img/slider/img4.jpg', alt='', width='1920', height='1080')
                            .tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.skrollable.skrollable-between(data-x='center', data-y='middle', data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;e:Power3.easeInOut', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='background-color: rgba(0, 0, 0, 0.25);')
                            .tp-caption.News-Title(data-x='center', data-y='center', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='o:0', data-transform_out='o:0', data-start='2000') DISCOVER THE WILD
                        li(data-transition='fade')
                            img(src='/assets/img/slider/img6.jpg', alt='', width='1920', height='1080')
                            .tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.skrollable.skrollable-between(data-x='center', data-y='middle', data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;e:Power3.easeInOut', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='background-color: rgba(0, 0, 0, 0.25);')
                            .tp-caption.News-Title(data-x='center', data-y='center', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='o:0', data-transform_out='o:0', data-start='2000') DISCOVER THE WILD
                        li(data-transition='fade')
                            img(src='/assets/img/slider/img5.jpg', alt='', width='1920', height='1080')
                            .tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.skrollable.skrollable-between(data-x='center', data-y='middle', data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;e:Power3.easeInOut', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='background-color: rgba(0, 0, 0, 0.25);')
                            .tp-caption.News-Title(data-x='center', data-y='center', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='o:0', data-transform_out='o:0', data-start='2000') DISCOVER THE WILD
                        li(data-transition='fade')
                            img(src='/assets/img/slider/img12.jpg', alt='', width='1920', height='1080')
                            .tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.skrollable.skrollable-between(data-x='center', data-y='middle', data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;e:Power3.easeInOut', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='background-color: rgba(0, 0, 0, 0.25);')
                            .tp-caption.News-Title(data-x='center', data-y='center', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='o:0', data-transform_out='o:0', data-start='2000') DISCOVER THE WILD
                        li(data-transition='fade')
                            img(src='/assets/img/slider/img1.jpg', alt='', width='1920', height='1080')
                            .tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.skrollable.skrollable-between(data-x='center', data-y='middle', data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='opacity:0;s:1000;e:Power3.easeInOut', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='background-color: rgba(0, 0, 0, 0.25);')
                            .tp-caption.News-Title(data-x='center', data-y='center', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='o:0', data-transform_out='o:0', data-start='2000') DISCOVER THE WILD
                    .tp-static-layers
                        .tp-caption.tp-static-layer(data-x='center', data-y='top', data-width='none', data-height='none', data-whitespace='nowrap', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1000;e:Power3.easeInOut;', data-transform_out='auto:auto;s:1000;', data-start='1000', data-basealign='slide', data-startslide='0', data-responsive='off')
                            img(src='/assets/img/logo.svg', alt='Logo Planteaza pentru Romania', width='1250', height='1250', data-ww=['300px', '300px', '200px', '200px'], data-hh=['300px', '300px', '200px', '200px'])
                        .tp-caption.tp-static-layer(data-x='center', data-y='bottom', data-voffset='50', data-width='none', data-height='none', data-whitespace='nowrap', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1000;e:Power3.easeInOut;', data-transform_out='auto:auto;s:1000;', data-start='1000', data-basealign='slide', data-startslide='0', data-responsive='on')
                            .footer
                                ul.social
                                    li
                                        a.social__link.social__link--fb(href="")
                                            i.fa.fa-facebook
                                    li
                                        a.social__link.social__link--inst(href="")
                                            i.fa.fa-instagram
                                p.footer__info Un proiect al asociatiei Prietenii Padurilor din Romania
                                p.footer__copy &copy2016 Prietenii Padurilor
                            
    //- Custom scripts
    script(type='text/javascript', src='assets/js/scripts.js')
