/**
* Main stylesheet
*/

/* ==========================================================================
Imports
========================================================================== */
@import 'variables.less';

@font-face {
    font-family: 'AvenirBlack';
    font-weight: 750;
    font-style: normal;
    font-stretch: normal;

    src: url('@{fonts-path}AvenirLTStd-Black_gdi.eot?#iefix') format('embedded-opentype'),
    url('@{fonts-path}AvenirLTStd-Black_gdi.woff') format('woff'),
    url('@{fonts-path}AvenirLTStd-Black_gdi.ttf') format('truetype'),
    url('@{fonts-path}AvenirLTStd-Black_gdi.svg#AvenirLTStd-Black') format('svg');
    /* src: url('@{fonts-path}AvenirLTStd-Black_gdi.eot');*/
    /* unicode-range: U+0020-25CA;*/
}

@font-face {
    font-family: 'AvenirBook';
    font-weight: 350;
    font-style: normal;
    font-stretch: normal;

    src: url('@{fonts-path}AvenirLTStd-Book_gdi.eot?#iefix') format('embedded-opentype'),
    url('@{fonts-path}AvenirLTStd-Book_gdi.woff') format('woff'),
    url('@{fonts-path}AvenirLTStd-Book_gdi.ttf') format('truetype'),
    url('@{fonts-path}AvenirLTStd-Book_gdi.svg#AvenirLTStd-Book') format('svg');
    /* src: url('@{fonts-path}AvenirLTStd-Book_gdi.eot');*/
    /* unicode-range: U+0020-25CA;*/
}

@font-face {
    font-family: 'AvenirLight';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;

    src: url('@{fonts-path}AvenirLTStd-Light_gdi.eot?#iefix') format('embedded-opentype'),
    url('@{fonts-path}AvenirLTStd-Light_gdi.woff') format('woff'),
    url('@{fonts-path}AvenirLTStd-Light_gdi.ttf') format('truetype'),
    url('@{fonts-path}AvenirLTStd-Light_gdi.svg#AvenirLTStd-Light') format('svg');
    /* src: url('@{fonts-path}AvenirLTStd-Light_gdi.eot');*/
    /* unicode-range: U+0020-25CA;*/
}

/* ==========================================================================
Base
========================================================================== */

body {
    background-color: #ccc;

    font-family: 'AvenirBook', sans-serif;
    font-size: 16px;
    line-height: 1.45;
}

/* ==========================================================================
Layout
========================================================================== */

/**
 * Modern solution to the sticky footer
 *
 * [1] + [2] + [3] - make the wrapper (parent) a fulled height flex box, with column orientation
 * [4] - make the main content area fill the empty available space and push the footer to the bottom
 */
#wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex; // [1]
            flex-direction: column; // [3]

    min-height: 100vh; // [2]
    padding: 25px;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;


    @media (min-width: 768px) {
        padding: 70px;
    }
}

#main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; // [4]
}

#footer {
    display: flex;
}

/* ==========================================================================
Modules
========================================================================== */

/*
   Spinners, loaders
   ========================================================================== */

.spinner {
    & .icon-bar {
        -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
                animation: stretchdelay 1.2s infinite ease-in-out;

        &:nth-child(1) {
            -webkit-animation-delay: -1s;
                    animation-delay: -1s;
        }

        &:nth-child(2) {
            -webkit-animation-delay: -.8s;
                    animation-delay: -.8s;
        }
    }
}


/*
Navbar
========================================================================== */

.navbar {
    min-height: 250px;
    padding: 0 25px;

    @media (min-width: 768px) {
        padding: 0 70px;
    }

    &-header {
        float: none;
    }

    &-brand {
        width: 250px;
        height: auto;

        img {
            max-width: 100%;
        }
    }

    &-toggler {
        position: absolute;
        z-index: 10;
        top: 15px;
        left: 50%;

        width: 24px;
        height: 19px;
        padding: 0;

        -webkit-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
        -webkit-transform: translateX(-50%) rotate(0deg);
                transform: translateX(-50%) rotate(0deg);

        border: 0;
        background-color: transparent;

        @media (max-width: 767px) {
            .is-nav-open & {
                top: 45px;

                -webkit-transition-delay: .25s;
                        transition-delay: .25s;
            }
        }

        .icon-bar {
            position: absolute;
            left: 0;

            display: block;

            width: 100%;
            height: 4px;

            -webkit-transition: all .25s ease-in-out;
                    transition: all .25s ease-in-out;
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);

            opacity: 1;
            background-color: @primary-color;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 9px;
            }

            &:nth-child(3) {
                top: 18px;
            }

            .is-nav-open &:nth-child(1) {
                top: 9px;

                -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
            }

            .is-nav-open &:nth-child(2) {
                opacity: 0;
            }

            .is-nav-open &:nth-child(3) {
                top: 9px;

                -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
            }
        }

        .navbar-header:not(.is-nav-open) &:not(.spinner):hover .icon-bar {
            &:nth-child(1) {
                top: 9px;

                transform: scale(1) rotate(90deg);
            }

            &:nth-child(3) {
                top: 9px;

                transform: scale(1) rotate(-90deg);
            }
        }

        &:before {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;

            content: '';
            -webkit-transition: all .5s .25s ease-in-out;
                    transition: all .5s .25s ease-in-out;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);

            border-width: 72px 72px 0 72px;
            border-style: solid;
            border-color: #fff transparent transparent;

            .is-nav-open & {
                opacity: 0;
                border-color: @bg-color transparent transparent;
                /* transition-delay: 0;*/

                @media (min-width: 768px) {
                    opacity: 1;
                }
            }
        }

        &:after {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;

            width: 44px;
            height: 44px;

            content: '';
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);

            opacity: 0;

            @media (max-width: 767px) {
                border-radius: 50%;
                box-shadow: 22px -22px 0 2px @bg-color, -22px -22px 0 2px @bg-color, -22px 22px 0 2px @bg-color, 22px 22px 0 2px @bg-color, 0 0 0 2px @bg-color;

                .is-nav-open & {
                    -webkit-animation: border .5s ease .5s 1 forwards;
                            animation: border .5s ease .5s 1 forwards;
                }
            }
        }
    }

    &-wrapper {
        position: fixed;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        -webkit-transition: -webkit-transform .5s ease-in-out;
                transition: -webkit-transform .5s ease-in-out;
                transition:         transform .5s ease-in-out;
                transition:         transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);

        background-color: @bg-color;

        -webkit-align-items: center;
                align-items: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
                justify-content: center;

        @media (min-width: 768px) {
            width: 50%;

            box-shadow: 2px 0 4px rgba(0, 0, 0, .25);
        }

        .is-nav-open & {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
    }

    &-nav {
        /* display: none;*/
        margin: 0;

        & > li {
            float: none;

            > a {
                width: 100%;
                padding: 10px 0;

                text-transform: uppercase;

                color: @primary-color;

                font-size: 24px;
                line-height: inherit;

                &:hover,
                &:focus {
                    color: @secondary-color;
                    background-color: transparent;
                }
            }

            &.active > a {
                color: @secondary-color;
                background-color: transparent;
            }
        }
    }
}

/*
   Footer
   ========================================================================== */

.footer {
    &__info {
        display: flex;
        justify-content: space-between;
        flex: 1;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__social {
        flex: 0 1 auto;
        list-style: none;

        li {
            display: inline-block;
            // color: #fff;
        }
    }
}

/* ==========================================================================
States
========================================================================== */


/* ==========================================================================
Keyframes
========================================================================== */

@-webkit-keyframes border {
    0% {
        opacity: 1;
        box-shadow: 22px -22px 0 2px @bg-color, -22px -22px 0 2px @bg-color, -22px 22px 0 2px @bg-color, 22px 22px 0 2px @bg-color, 0 0 0 2px @bg-color;
    }
    25% {
        opacity: 1;
        box-shadow: 0 -49px 0 2px @bg-color, -22px -22px 0 2px @bg-color, -22px 22px 0 2px @bg-color, 22px 22px 0 2px @bg-color, 0 0 0 2px @primary-color;
    }
    50% {
        opacity: 1;
        box-shadow: 0 -49px 0 2px @bg-color, -49px 0 0 2px @bg-color, -22px 22px 0 2px @bg-color, 22px 22px 0 2px @bg-color, 0 0 0 2px @primary-color;
    }
    75% {
        opacity: 1;
        box-shadow: 0 -49px 0 2px @bg-color, -49px 0 0 2px @bg-color, 0 49px 0 2px @bg-color, 22px 22px 0 2px @bg-color, 0 0 0 2px @primary-color;
    }
    100% {
        opacity: 1;
        box-shadow: 0 -49px 0 2px @bg-color, -49px 0 0 2px @bg-color, 0 49px 0 2px @bg-color, 44px 20px 0 2px @bg-color, 0 0 0 2px @primary-color;
    }
}

@keyframes border {
    0% {
        opacity: 1;
        box-shadow: 22px -22px 0 2px @bg-color, -22px -22px 0 2px @bg-color, -22px 22px 0 2px @bg-color, 22px 22px 0 2px @bg-color, 0 0 0 2px @bg-color;
    }
    25% {
        opacity: 1;
        box-shadow: 0 -49px 0 2px @bg-color, -22px -22px 0 2px @bg-color, -22px 22px 0 2px @bg-color, 22px 22px 0 2px @bg-color, 0 0 0 2px @primary-color;
    }
    50% {
        opacity: 1;
        box-shadow: 0 -49px 0 2px @bg-color, -49px 0 0 2px @bg-color, -22px 22px 0 2px @bg-color, 22px 22px 0 2px @bg-color, 0 0 0 2px @primary-color;
    }
    75% {
        opacity: 1;
        box-shadow: 0 -49px 0 2px @bg-color, -49px 0 0 2px @bg-color, 0 49px 0 2px @bg-color, 22px 22px 0 2px @bg-color, 0 0 0 2px @primary-color;
    }
    100% {
        opacity: 1;
        box-shadow: 0 -49px 0 2px @bg-color, -49px 0 0 2px @bg-color, 0 49px 0 2px @bg-color, 44px 20px 0 2px @bg-color, 0 0 0 2px @primary-color;
    }
}

@-webkit-keyframes stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleX(.8);
                transform: scaleX(.8);

        background-color: #2e5865;
        box-shadow: 0 0 0 rgba(10, 10, 10, .1);
    }
    20% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);

        background-color: #00b192;
        box-shadow: 0 5px 6px rgba(10, 10, 10, .4);
    }
}
@keyframes stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleX(.8);
                transform: scaleX(.8);

        background-color: #2e5865;
        box-shadow: 0 0 0 rgba(10, 10, 10, .1);
    }
    20% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);

        background-color: #00b192;
        box-shadow: 0 5px 6px rgba(10, 10, 10, .4);
    }
}















#owl-demo .owl-item div{
  padding:5px;
}
#owl-demo .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
