/**
 * Define LESS variables
 */

/* ==========================================================================
   Paths
   ========================================================================== */
@fonts-path: 'fonts/';

/* ==========================================================================
   Colors
   ========================================================================== */
@primary-color: #51a149;
@secondary-color: #a4de02;
@tertiary-color: #3095ea;
@text-color: #857b76;
@bg-color: #f2f1ee;
@border-color: #dcd7d3;
@form-success-color: @primary-color;
@form-error-color: #c9550e;
