template
  section(class.bind="'au-animate ' + routeConfig.name")
    .container
      h1.page-title ${heading}
      .row
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies aliquam nisi sit amet placerat. Nam mollis tortor orci, non ornare diam aliquet non. Donec egestas lectus suscipit enim dignissim, quis ultrices ex bibendum. Integer congue, lectus in cursus facilisis, felis lectus fringilla mi, finibus facilisis odio urna sit amet mauris. Praesent at purus nisl. Proin dapibus tellus sit amet tellus scelerisque sollicitudin. Donec vestibulum molestie ligula non gravida. Vivamus gravida, leo eget fringilla tristique, leo enim congue justo, sed convallis massa magna ut neque. Praesent lacus mauris, laoreet et vulputate a, faucibus vitae nisi. Sed consequat in nulla et placerat. Nam condimentum arcu vitae nunc pharetra, a interdum ipsum fermentum. Aliquam posuere venenatis augue ut laoreet. Donec venenatis, turpis vel elementum lacinia, quam tortor commodo ante, ac efficitur justo velit at urna. Fusce in nisi vel ligula vehicula rhoncus.
        p Nam ut justo urna. Vivamus sodales erat nec massa ullamcorper laoreet. Donec facilisis rutrum odio, quis interdum enim. Vivamus molestie sapien at ante commodo tincidunt. Vivamus ultricies sagittis purus, sed commodo mi volutpat consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer cursus sem mi, at sodales nisi consequat sit amet. Duis cursus vitae erat ac convallis.
        
      .row
        .col-sm-4
          a(href="/#/planteaza")
            img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=icon&w=120&h=120")
          h2 Sustine
          p Nam ut justo urna. Vivamus sodales erat nec massa ullamcorper laoreet. Donec facilisis rutrum odio, quis interdum enim. Vivamus molestie sapien at ante commodo tincidunt. Vivamus ultricies sagittis purus, sed commodo mi volutpat consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer cursus sem mi, at sodales nisi consequat sit amet. Duis cursus vitae erat ac convallis.
        .col-sm-4
          a(href="/#/implica-te/participa")
            img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=icon&w=120&h=120")
          h2 Participa
          p Nam ut justo urna. Vivamus sodales erat nec massa ullamcorper laoreet. Donec facilisis rutrum odio, quis interdum enim. Vivamus molestie sapien at ante commodo tincidunt. Vivamus ultricies sagittis purus, sed commodo mi volutpat consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer cursus sem mi, at sodales nisi consequat sit amet. Duis cursus vitae erat ac convallis.
        .col-sm-4
          img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=icon&w=120&h=120")
          h2 Promoveaza
          p Nam ut justo urna. Vivamus sodales erat nec massa ullamcorper laoreet. Donec facilisis rutrum odio, quis interdum enim. Vivamus molestie sapien at ante commodo tincidunt. Vivamus ultricies sagittis purus, sed commodo mi volutpat consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer cursus sem mi, at sodales nisi consequat sit amet. Duis cursus vitae erat ac convallis.
