template
  section(class.bind="'au-animate ' + routeConfig.name")
    .container
      h1.page-title ${heading}
      p Folosirea acestui website implică acceptarea acestor “Termeni și condiții”. Pentru folosirea în cele mai bune condiții a website-ului se recomandă citirea cu atenție a termenilor și condițiilor. În situația în care nu sunteți de acord în totalitate cu acestea, vă rugăm să încetați utilizarea serviciilor furnizate prin intermediul website-ului #[a(href="http://www.planteazapentruromania.ro") www.planteazapentruromania.ro].
